.container {
    margin: auto auto;
    width: 100%;
    height: 900px;
}
.c1 {
    background-image: url(../img/c1.png);

    width: 23%;
    height: 310px;
    float: left;
    background-position: center center; 
    
    
}
.c2 {
   background-image: url(../img/c2.png);
   float: left; 
   width: 77%;
    height:310px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;      

}

.c3 {
    background-image: url(../img/c3.jpeg);
    float: left;
    width: 65%;
    height: 310px;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.c4 {
    background-image: url(../img/c4.jpg);
    float: right;
    width: 35%;
    height: 310px;
    background-position: center center; 
    background-repeat: no-repeat; 

}

.clear {
    clear: both;
}
.c5 {
    background-image: url(../img/c5.jpg);

    width: 35%;
    height: 310px;
    float: left;
    background-position: center center; 
    background-repeat: no-repeat; 

}
.c6 {
   background-image: url(../img/c6.jpg);
   float: left; 
   width: 65%;
    height:310px;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}